spring:
  application:
    name: Desafio Tecnico
  datasource:
    url: jdbc:h2:mem:desafio;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    open-in-view: false
logging:
  level:
    root: INFO
    org.hibernate.SQL: WARN
    org.hibernate.orm.jdbc.bind: WARN
springdoc:
  swagger-ui:
    tryItOutEnabled: true
app:
  csv:
    path: csv/movielist.csv
